.wrapper{
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 1fr 100px;
    grid-column-gap: 40px;
}

.item{
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 12px;
    width: min-content;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.1);
}

.cards{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
}
.filter_bar{
    background-color: #0d253f;
}
.button{
    margin-top: 40px;
    grid-column-start: 2;
    grid-column-end: 3;
}